{% layout "layouts/default.html"%}
<script src="/static/admin.js"></script>
{% block "content" %}
    <div class=admin>
        <div class="addBoard">
            <p>Add Board</p>
            <form action="/api/addBoard" method="post">
                <input type="text" name="name" required placeholder="Board Name">
                <input type="text" name="slug" required placeholder="Slug">
                <input type="text" name="description" placeholder="Description">
                <input type="text" name="item" required placeholder="Item Name">
                <input type="number" name="votes" min="1" required value="1" placeholder="Allowed Votes">

                <input type="submit" value="Add Board">
            </form>
        </div>
        <div class="removeBoard">
            <p>Remove Board</p>
            <form action="/api/removeBoard" method="post">
            <p><select class="delBoard" name="board">
                {% for board in boards %}
                    <option value="{{board.name}}">{{board.name}}</option>
                {%endfor%}
            </select></p>
            <p><input type="text" required name="verify" placeholder="Board Name"></p>
            <p><input type="submit" value="Remove Board"></p>
            </form>
        </div>
        <div class="addItem">
            <p>Add Items to board 
            <form action="/api/addItems" method="post">
            <select name="board">
                {% for board in boards %}
                    <option value={{board.id}}>{{board.name}}</option>
                {%endfor%}
            </select></p>
            <textarea name="items" required id="" cols="30" rows="10"></textarea>
            <p><input type="submit" value="Add Items"></p>
        </form>
        </div>
        <div class="removeItem">
            <p>Remove Items from board 
                <form action="/api/removeItems" method="post">
                    <select name="board">
                        {% for board in boards %}
                            <option value={{board.id}}>{{board.name}}</option>
                        {%endfor%}
                    </select></p>
                    <textarea name="items" required id="" cols="30" rows="10"></textarea>
                    <p><input type="submit" value="Remove Items"></p>
                </form>
        </div>
        <div class="addAdmin">
            <p>Add Admin</p>
            <form action="/api/addAdmin" method="post">
                <input type="text" required name="id" placeholder="Discord ID">
                <p><input type="submit" value="Add Admin"></p>
            </form>
        </div>
    </div>
{% endblock %}